<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookworm</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/img/bookworm-fav.ico"/>    

    

    <!-- React & React Router scripts -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js" integrity="sha512-NG4Cm3Ubs7d/nPyzrTFM53RP8tPjQhRT0hea48yJ/qEXsuhq7wGbjX68A5gBiW6BoCQbqE3/M+UOj2lLXPauhw==" crossorigin="anonymous"></script>

    
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
    <script var Alert = ReactBootstrap.Alert;></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body background="static/img/bookshelf-background-blur.jpg">
    <div id="root"></div>

    <script type="text/jsx" src="/static/components/UpdateAccount.jsx"></script>
    <script type="text/jsx" src="/static/components/EventDetails.jsx"></script>
    <script type="text/jsx" src="/static/components/Event.jsx"></script>
    <script type="text/jsx" src="/static/components/AllEvents.jsx"></script>
    <script type="text/jsx" src="/static/components/UserEvents.jsx"></script>
    <script type="text/jsx" src="/static/components/CreateEvent.jsx"></script>
    <script type="text/jsx" src="/static/components/BookDetails.jsx"></script>
    <script type="text/jsx" src="/static/components/Book.jsx"></script>
    <script type="text/jsx" src="/static/components/CategoryContainer.jsx"></script>
    <script type="text/jsx" src="/static/components/LogOut.jsx"></script>
    <script type="text/jsx" src="/static/components/UserPage.jsx"></script>
    <script type="text/jsx" src="/static/components/BookTile.jsx"></script>
    <script type="text/jsx" src="/static/components/SearchResults.jsx"></script>
    <script type="text/jsx" src="/static/components/SearchBar.jsx"></script>
    <script type="text/jsx" src="/static/components/TopNavigation.jsx"></script>
    <script type="text/jsx" src="/static/components/CreateAccount.jsx"></script>
    <script type="text/jsx" src="/static/components/LogIn.jsx"></script>
    <script type="text/jsx" src="/static/components/App.jsx"></script>
    
</body>
</html>