<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookworm</title>
    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/jsx" src="/static/components/App.jsx"></script>
    <script type="text/jsx" src="/static/components/TopNavigation.jsx"></script>
    <script type="text/jsx" src="/static/components/SearchBar.jsx"></script>
    <script type="text/jsx" src="/static/components/LogIn.jsx"></script>
</body>
</html>